version: '3.8'

services:
  postgres:
    image: postgres:15-alpine
    container_name: email_platform_db
    ports:
      - "5432:5432" 
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: adminpassword
      POSTGRES_DB: email_marketing_db
    volumes:
      - postgres_data:/var/lib/postgresql/data 
    networks:
      - email-net

  pgadmin:
    image: dpage/pgadmin4
    container_name: pgadmin_panel
    ports:
      - "5050:80"
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.com
      PGADMIN_DEFAULT_PASSWORD: admin
    depends_on:
      - postgres
    networks:
      - email-net

volumes:
  postgres_data:

networks:
  email-net: